/* Reference: https://developer.mozilla.org/ja/docs/Web/CSS/CSS_counter_styles/Using_CSS_counters */

.toc ol {
  counter-reset: section 0;
  padding-left: 0.5em;
}

.toc ol li {
  counter-increment: section 1;
}

.toc ol li::before {
  content: counters(section, ".") ". "
}